* {
    box-sizing: border-box;
}

#myCanvas{
    border: 2px solid grey;
    width: 100%;
    max-width: 800px;
}

header {
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

header h1{
    margin: 0;
}

aside {
    float: left;
    width: 15%;
    background: #ccc;
    min-height: 820px;
    height: auto;
    padding: 20px;
}

article {
    float: left;
    padding: 20px;
    text-align: center;
    width: 70%;
    background-color: #f1f1f1;
}

/* Reszponzív */
@media (max-width: 800px) {
    nav, article {
        width: 100%;
        height: auto;
    }
    aside {
      display: none;
    }    
}